<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js추가-->
<!--https://atoz-develop.tistory.com/entry/spring-boot-web-mvc-static-resources
static촐더에 넣으면 정적폴더로 자동으로 root경로로 변경됨.
-->
<script src="/js/app/index.js"></script>


</body>
</html>